twig
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    {% include 'header.twig' %}
    <main>
    <div class="sidebar">
            {% include 'sidebar.twig' %}
        </div>
        <div class="content">
            {% include content_template_name %}
        </div>
       
    </main>
    {% include 'footer.twig' %}
    <footer>
        <p>Текущее время: {{ "now"|date("H:i:s") }}</p>
    </footer>
</body>
</html>